<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.mySlides {display: none}
</style>
<body class="w3-content w3-border-left w3-border-right">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top" style="z-index:3;width:320px; background-color:#003366" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-10">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
    <h4 style="color:white">Add New Chore:</h4>
    <hr style="margin-top:-10px">
    <form action="/action_page.php" target="_blank" style="margin-top: -15px;color:white; " method="post">
      <p><label><i class="sticky-note"></i>Chore: </label></p>
      <input class="w3-input w3-border" style = "border-radius: 25px;box-shadow: 5px 5px 12px #000000;" type="text" placeholder="Ex. Laundry" name="Chore" required>          
      <p><label><i class="clock-o"></i>Time to Complete (hrs):</label></p>
      <input class="w3-input w3-border" style = "border-radius: 25px;box-shadow: 5px 5px 12px #000000;" type="number" placeholder="Ex. 1.5" name="TimeToComplete" required>         
      <p><label><i class="fa fa-calender-o"></i> How Often (in days per week): </label></p>
      <input class="w3-input w3-border" style = "border-radius: 25px;box-shadow: 5px 5px 12px #000000;" type="number" placeholder="Ex. 7" name="HowOften" min=0 max =7>              
      <p><button class="w3-button w3-block w3-orange w3-center-align" style = "border-radius: 25px;box-shadow: 5px 5px 12px #000000;" type="submit">Add Chore</button></p>
    </form>
    <h4 style="color:white">Add Manually:</h4>
    <hr style="margin-top:-10px">
    <!-- action must be specificied for form -->
    <form target="_blank" style="margin-top: -15px; color:white; border-radius: 25px;" method="post">
        <p><label><i class="sticky-note"></i>Chore: </label></p>
        <input class="w3-input w3-border" style = "border-radius: 25px;box-shadow: 5px 5px 12px #000000;"type="text" placeholder="Ex. Laundry" name="Chore" required>          
        <p><label><i class="clock-o"></i>Time to Complete (hrs):</label></p>
        <input class="w3-input w3-border" style = "border-radius: 25px;box-shadow: 5px 5px 12px #000000;"type="number" placeholder="Ex. 1.5" name="TimeToComplete" required>         
        <p><label><i class="fa fa-calender-o"></i>Date/time: </label></p>
        <input class="w3-input w3-border" style = "border-radius: 25px;box-shadow: 5px 5px 12px #000000;"type="datetime" placeholder="YYYY-MM-DD HH:MM" name="Date" >                 
        <p><button class="w3-button w3-block w3-orange w3-center-align" style = "border-radius: 25px;box-shadow: 5px 5px 12px #000000;"type="submit">Add Chore</button></p>
    </form>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <span class="w3-bar-item">Rental</span>
  <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left:320px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:80px;"></div>

  <!-- Slideshow Header -->
  <div class="w3-container" id="apartment" style="background-color:#5E6669;">
    <h2 style="color:orange">Dashboard</h2>
    

    <div class="w3-container" style="background-color: aliceblue; border-radius: 25px;box-shadow: 5px 5px 12px #000000;margin: 25px;">
      <h3><strong>Upcoming:</strong></h3>
      <div class="w3-row w3-large">
        <div class="w3-col s6" style="background-color:silver;border-radius: 25px;margin: 20px;width: 500px;text-align: center;box-shadow: 5px 5px 12px #000000;margin-left: 20px;">
          <h4><strong>Today:</strong></h4>
          <p>Change Bedcovers (30 min) 9/25/2021 10am</p>
          <p>Laundry (2 hrs) 9/25/2021 1pm</p>
        </div>
        <div class="w3-col s6" style="background-color:silver;border-radius: 25px;margin: 20px;width: 500px;text-align: center;box-shadow: 5px 5px 12px #000000;margin-left: 20px;">
          <h4><strong>Tomorrow:</strong></h4>
          <p>Vaccum Room (30 min) 9/26/2021 6pm</p>
        </div>
        <div class="w3-col s6" style="background-color:silver;border-radius: 25px;margin: 20px;width: 500px;text-align: center;box-shadow: 5px 5px 12px #000000;margin-left: 20px;margin-bottom: 50px;">
          <h4><strong>This Week:</strong></h4>
          <p>Shop for groceries (1.5 hrs) 10/01/2021 6pm</p>
        </div>
      </div>
    </div>
    

    <!-- <h4><strong>Amenities</strong></h4>
    <div class="w3-row w3-large">
      <div class="w3-col s6">
        <p><i class="fa fa-fw fa-shower"></i> Shower</p>
        <p><i class="fa fa-fw fa-wifi"></i> WiFi</p>
        <p><i class="fa fa-fw fa-tv"></i> TV</p>
      </div>
      <div class="w3-col s6">
        <p><i class="fa fa-fw fa-cutlery"></i> Kitchen</p>
        <p><i class="fa fa-fw fa-thermometer"></i> Heating</p>
        <p><i class="fa fa-fw fa-wheelchair"></i> Accessible</p>
      </div>
    </div>
    <hr>
    
    <h4><strong>Extra Info</strong></h4>
    <p>Our apartment is really clean and we like to keep it that way. Enjoy the lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    <hr>
    
    <h4><strong>Rules</strong></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Subscribe to receive updates on available dates and special offers.</p>
    <p><button class="w3-button w3-green w3-third" onclick="document.getElementById('subscribe').style.display='block'">Subscribe</button></p>
  </div>
  <hr> -->
  
  <!-- Contact -->
    <div class="w3-container" id="contact">
      <h2 style="color:orange">Calendar</h2>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&src=bWFuYW5qMkBpbGxpbm9pcy5lZHU&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043" style="box-shadow: 5px 5px 12px #000000; border:solid 1px #777" width="600" height="450" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>

<script>
// Script to open and close sidebar when on tablets and phones
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

</body>
</html>
