body {
  background-image: url("bg.jpg");
  background-size: 100% 100%;
}

div.Right {
  position:relative;
  margin-left:80%;
  margin-right:20%;
  top:60%;
}

img {
  width: 200px;
  height: 80px;
}